.tag{
    color: gray;
  }
  
  .add-note{
    background-color: white !important;
    border: 1px solid #007E7E !important;
    color: #007E7E !important;
    box-shadow: none !important
  }
  
  .more-vert{
    background-color: white !important;
    border: 1px solid #007E7E !important;
    color: #007E7E !important;
    margin: 5px;
    cursor: pointer;
    height: 100%;
  }