
:root {
    --padding: 16px;
    --modal-bg-color: #fff;
    --button-margin: 10px;
    --modal-border-radius: 8px;
    --font-color: #3D3C3C;
  }
  
  .vc-display-card {
    padding: var(--padding);
    background-color: var(--modal-bg-color);
    border-radius: var(--modal-border-radius);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .modal-box {
    position: absolute;
    width: 90%;
    max-width: 500px;
    background-color: var(--modal-bg-color);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    bottom: 20px;
    right: 20px;
    border-radius: var(--modal-border-radius);
    outline: none;
    padding: var(--padding);
    transition: all 0.3s ease;
  
    @media (min-width: 600px) {
      width: 400px;
      bottom: 10%;
      right: 10%;
    }
  }
  
  .case-notes-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--padding);
  }
  
  .case-notes-container-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: var(--padding);
  }
  
  .list-container {
    height: calc(100% - 100px); /* adjust based on your needs */
    overflow-y: auto;
    
    .MuiListItem-root {
      align-items: flex-start;
      padding: var(--padding) 0;
  
      &::after {
        content: '';
        display: block;
        height: 1px;
        background: #e0e0e0;
        position: absolute;
        bottom: 0;
        left: var(--padding);
        right: var(--padding);
      }
    }
  
    .MuiListItemIcon-root {
      min-width: 40px;
    }
  
    .MuiListItemText-root {
      color: var(--font-color);
      
      .MuiTypography-root {
        font-size: 14px;
      }
  
      @media (min-width: 600px) {
        .MuiTypography-root {
          font-size: 16px;
        }
      }
    }
  }
  
  button {
    text-transform: none;
    margin-top: var(--button-margin);
  }
  