.custom-container {
  padding: 10px 20px;
  background-color: #f5f5f5;

  .header-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0;
  }

  .case-title-box {
      display: flex;
      flex-direction: row;
      align-items: center;

      .case-title {
          font-weight: 500;
      }

      .case-id, 
      .case-status {
          color: #757575;
          margin-left: 10px;
      }
  }

  .action-buttons-box {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 10px;

      .action-button {

          &:last-child {
              margin-bottom: 0;
          }
      }
  }
}


::ng-deep.custom-container .action-buttons-box .action-button:last-child {
    margin-bottom: 1px !important ;
}
